/* footer.css */
.site-footer {
    margin-top: 40px;
    background-color: #333333;
}

.footer-inner {
    max-width: 1360px;
    margin: 0 auto;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff ;
}

.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.footer-form h3 {
    font-size: 16px;
}

.footer-form form input{
    width: 344px;
    background-color: #ffffff;
    color: #aaaaaa;
    border-radius: 30px;
    padding: 5px 20px;
}

.footer-socials h3{
    font-size: 20px;
    margin-bottom: 16px;
}

.socials {
    display: flex;
    gap: 20px;
}

.social-link{
    height: 32px;
    width: 32px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    border: 2px solid #ffffff;
    border-radius: 100%;
}

.social-link:hover {
    background-color: #6329A2;
    color: #ffffff;
    border-color: #6329A2;
}

.footer-columns{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
    gap: 20px;
}

.footer-col h4{
    font-size: 20px;
    font-weight: 400px;
    color: #ededed;
}

.footer-col ul li {
    margin: 15px 0;
}

.footer-bottom {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1000px) {
    .footer-inner {
        flex-direction: column;
        gap: 2rem;
        padding: 2rem 1rem;
    }

    .footer-columns {
        display: flex;
        flex-direction: column;
    }
}