/* product-grid.css */
.grid-section {
    width: 100%;
    height: auto;
    min-height: 910px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 300px);
    grid-template-areas:
        "grid-content grid-content grid-item2 grid-item2"
        "grid-content grid-content grid-item3 grid-item4"
        "grid-item1 grid-item1 grid-item3 grid-item5";
    gap: 30px;
}

.grid-card {
    border-radius: 20px;
    overflow: hidden;
}

.grid-content {
    background: url(../../images/products/card_imagem.jpg) no-repeat center;
    background-size: cover;
    grid-area: grid-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-subtitle {
    font-size: 1.25rem;
    color: #ededed;
}

.grid-title {
    font-size: 1.5rem;
    font-weight: 400;
    color: #ededed;
    margin-bottom: 20px;
}

.grid-buttons .btn {
    padding: 10px 40px;
}

.grid-item1 {
    background: url(../../images/products/tenis\ preto\ azul.jpg) no-repeat center;
    background-size: cover;
    grid-area: grid-item1;
}

.grid-item2 {
    background: url(../../images/products/tenis\ roxo\ e\ verde.jpg) no-repeat center;
    background-size: cover;
    grid-area: grid-item2;
}

.grid-item3 {
    background: url(../../images/products/modelo\ mulher.jpg) no-repeat center;
    background-size: cover;
    grid-area: grid-item3;
}

.grid-item4 {
    background: url(../../images/products/tenis\ colorido\ 2.jpg) no-repeat center;
    background-size: cover;
    grid-area: grid-item4;
}

.grid-item5 {
    background: url(../../images/products/tenis\ futurista\ 2.jpg) no-repeat center;
    background-size: cover;
    grid-area: grid-item5;
}


@media (max-width: 768px) {
    .grid-section {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(5, auto);
      grid-template-areas: 
      "grid-content grid-content"
      "grid-item1 grid-item1"
      "grid-item3 grid-item4"
      "grid-item3 grid-item5"
      "grid-item2 grid-item2";
      width: 100%;
      gap: 0.625rem;
    }

    .grid-content {
        min-height: 500px;
    }

    .grid-item1, .grid-item2 {
        min-height: 190px;
    }

    .grid-item3 {
        min-height: 370px;
    }


}